[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "~=1.1"
tensorflow = "~=1.13"
gym = "~=0.12"
gym-diplomacy = {editable = true,path = "./../../python-modules/gym-diplomacy"}
baselines = {editable = true,path = "./../baselines-master"}
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.7"
